<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>gekObNhdAzYSP6wgPFqq4bz8c7pZJejRGaROectn4CtY3nuGb7</string>
	<key>consumer_Key</key>
	<string>X0uGW9s1SIMjcXOZHcmFgThzI</string>
</dict>
</plist>
